* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
  }
  body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

  }
  
  .main{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
  }
  .countDown{
    justify-content: center;
    align-items: center;
  }
  .text-one{
    width: 500px;
    height: 54px;
    left: 127px;
    top: 187px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #6C63FF;
  }

  .wrapper{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  .count-wrapper span{
    width: 70px;
    height: 21px;
    left: 536px;
    top: 260px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #C8C8C8;
    padding: 1rem;
  }
  .count-wrapper{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .count-wrapper div{
    font-weight: 900;
    font-size: 4rem;
    padding: 1rem;
   
  }
  .text-two{
    height: 21px;
    left: 196px;
    top: 405px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #9C9AB6;
    margin: 10px 50px 10px 50px;   
  }

 .inscription{
    width: 160px;
    height: 46px;
    background-color: var(--purple);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    border: none;
    margin-left: 150px;
    margin-top: 15px;  
 }

  a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
  }